.card{
    background-color: bisque;
    color: #2b2b2b;
}

.money-table{
  font-size: 15px;
}

tr{
    margin: 15px;
}

input{
  background-color: bisque;
  color: #2b2b2b;
  border-radius: 16px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-color: rgba(255, 255, 255, 0.11);
}

input[type="number"]
{
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}